<%- action = new_or_edit ? admin_galleries_path : admin_gallery_path(:id=>@gallery.id) %>
<%- format = new_or_edit ? :json : :html%>
<%= form_for @gallery, :url=> action,:html => { :class => 'form-horizontal', :id=>"gallery_form" }, :format=>format,:remote=>remote do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'short-text-area', :rows=>5 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :event_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :event_id, Event.all, :id, :name, :prompt => "Seleccione el evento al que pertenece" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_galleries_path, :class => 'btn' %>
  </div>
<% end %>
<div id = "uploading_photos_container">
  <%unless @photos.nil?%>
    <%= render :partial=> "upload_photos_step"%>
  <%end%>
</div>
<script>
  var reload_multiuploader;

  reload_multiuploader = function() {
    return $("#new_photo_for_gallery").fileupload({
      dataType: "script",
      add: function(e, data) {
        var file, types;
        file = void 0;
        types = void 0;
        types = /(\.|\/)(gif|jpe?g|png)$/i;
        file = data.files[0];
        if (types.test(file.type) || types.test(file.name)) {
          data.context = $(tmpl("template-upload", file));
          $("#progress-container").append(data.context);
          return data.submit();
        } else {
          return alert("" + file.name + " is not a gif, jpeg, or png image file");
        }
      },
      progress: function(e, data) {
        var progress;
        progress = void 0;
        if (data.context) {
          progress = parseInt(data.loaded / data.total * 100, 10);
          return data.context.find(".bar").css("width", progress + "%");
        }
        else{
          console.log("No context")
        }
      }
    });
  };

</script>
