<div id="photos">
	<%unless @photos.nil?%>
  		<%= render @photos %>
  	<%end%>
</div>
<div class="clear"></div>

<h2>Suba fotos a esta galeria</h2>


<%= form_for Photo.new(:gallery_id=>@gallery.id),:url=>"/photos/multiple/#{@gallery.id}",:html=>{:id=>"new_photo_for_gallery"} do |f| %>
  <%=f.hidden_field :gallery_id%>
  <%= f.label :picture_file, "Upload paintings:" %>
  <%= f.file_field :picture_file, multiple: true, name: "photo[picture_file]" %>
<% end %>
<%if @multiple%>
	<%= link_to "Regresar a galerias", galleries_path, :class => 'btn' %>
	<script>
		reload_multiuploader();
	</script>
<%end%>

<script id="template-upload" type="text/x-tmpl">
	<div class="upload">
	  {%=o.name%}
	  <div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>


