<style type="text/css">
  #map {
    margin: 0;
    padding: 0;
    border:solid 4px #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;width:370px;height:250px;margin-bottom:20px
  }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "/js-libraries/gmaps.js"%>
<script>
  var map;
  var marker;
  function clearMarkers(){
    alert("Eliminando marcadores en el mapa")
    map.removeMarkers()
  }
  function initialize(){
    map = new GMaps({
            div: '#map',
            zoom: <%=@event.zoom || 15%>,
            lat: <%=@event.lat || "13.67527"%>,
            lng: <%=@event.lng || "-89.28572"%>,
            zoom_changed: function(e){
              $('#event_map_zoom').val(this.getZoom());
            },
            center_changed: function(e){
              $('#event_map_latlng').val(this.getCenter());
            },
            dragend: function(e){
              if(marker !=null){
                marker.setPosition(map.getCenter())
                $('#event_map_latlng').val(this.getCenter());
              }
            }
          });
    <%if !@event.map_latlng.nil?%>
      marker =  map.addMarker({
                  lat: <%=@event.lat || "13.67527"%>,
                  lng: <%=@event.lng || "-89.28572"%>,
                  title: "<%=@event.name%>"
                });
    <%else%>
      $("#map-place").css("display","none")
    <%end%>
    
  }
  function codeAddress(){
    GMaps.geocode({
      address: $('#map_search').val(),
      callback: function(results, status) {
        if (status == 'OK') {
            map.removeMarkers();
            var latlng = results[0].geometry.location;
            map.setCenter(latlng.lat(), latlng.lng());
            marker =  map.addMarker({
                        lat: latlng.lat(),
                        lng: latlng.lng()
                      });
        }
      }
    });
    false;
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<%- action = new_or_edit ? admin_events_path : admin_event_path(:id=>@event.id) %>
<%= form_for @event,:url=>action, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date_at, :class => 'control-label' %>
    <div class="controls">
      <%if @event.date_at %>
        <%=f.text_field :date_at, :id => 'dp', :readonly=>"",:data=>{:"date-format"=>"dd-mm-yyyy"}, :value=>@event.date_at.strftime("%d-%m-%Y")%>
      <%else%>
        <%=f.text_field :date_at, :id => 'dp', :readonly=>"",:data=>{:"date-format"=>"dd-mm-yyyy"}, :value=>DateTime.now.strftime("%d-%m-%Y")%>
      <%end%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%if @event.start_at %>
        <%=f.text_field :start_at, :readonly=>"",:class=> "timepicker-2",:id=>"tp", :value=>@event.start_at.strftime("%I:%M %p") %>
      <%else%>
        <%=f.text_field :start_at, :id => 'tp', :readonly=>"",:data=>{:"date-format"=>"dd-mm-yyyy"}, :value=>DateTime.now.strftime("%I:%M %p")%>
      <%end%>
      
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :cover, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cover, :class => 'number_field',:min=>0.0 %>
    </div>
  </div>

  <div id= "place-id" class="control-group <%=@show_place%>">
    <%= f.label :place_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :place_id, Place.all, :id, :name, :prompt =>"Seleccione un establecimiento", :class=>"select_field"%>
      <%= link_to " O especifique una dirección", "", :class=> "toggle-place", :data=>{:display=>"place-at", :hide=>"place-id"} %>
    </div>
  </div>

  <div id= "place-at" class="control-group <%=@show_address%>">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class=>"text_field" %>
      <%= link_to " O especifique un establecimiento", "", :class=> "toggle-place", :data=>{:display=>"place-id", :hide=>"place-at"} %>
    </div>
  </div>

  <div id = "map-place" class="control-group" data-visible="<%=@toogle_map%>" >
    <label class="control-label">Buscar en el mapa</label>
    <div class="controls">
      <input id="map_search"></input>
      <%=link_to "Marcar en el mapa","#map",:class=>"btn btn-primary", :onclick=>"codeAddress();"%>
    </div>
      <div style="float:left;margin-left:0px;margin-top:15px;">
        <div id="map"></div>
        <div><%=f.hidden_field :map_zoom%> <%=f.hidden_field :map_latlng%></div>
        <div class="well" style="width:335px">Arrastre el marcador para ajustar su posición. Ajuste el nivel de zoom que desee con el que el mapa inicie a cuando se muestra a los usuarios.</div>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :flayer, :class => 'control-label' %>
    <%=image_tag(@event.flayer.thumb.url || "/images/no-image.jpg")%>
    <div class="controls">
      <%= f.file_field :flayer, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'short-text-area',:rows=>5 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_events_path, :class => 'btn' %>
  </div>
<% end %>
