<%= form_for @event, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date_at, :class => 'control-label' %>
    <div class="controls">
      <%if @event.date_at %>
        <%=f.text_field :date_at, :id => 'dp', :readonly=>"",:data=>{:"date-format"=>"dd-mm-yyyy"}, :value=>@event.date_at.strftime("%d-%m-%Y")%>
      <%else%>
        <%=f.text_field :date_at, :id => 'dp', :readonly=>"",:data=>{:"date-format"=>"dd-mm-yyyy"}, :value=>DateTime.now.strftime("%d-%m-%Y")%>
      <%end%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%if @event.start_at %>
        <%=f.text_field :start_at, :readonly=>"",:class=> "timepicker-2",:id=>"tp", :value=>@event.start_at.strftime("%I:%M %p") %>
      <%else%>
        <%=f.text_field :date_at, :id => 'dp', :readonly=>"",:data=>{:"date-format"=>"dd-mm-yyyy"}, :value=>DateTime.now.strftime("%I:%M %p")%>
      <%end%>
      
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :cover, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cover, :class => 'number_field',:min=>0.0 %>
    </div>
  </div>

  <div id= "place-id" class="control-group">
    <%= f.label :place_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :place_id, Place.all, :id, :name, :prompt =>"Seleccione un establecimiento", :class=>"select_field"%> 
      <%= link_to " O especifique una dirección", "", :class=> "toggle-place", :data=>{:display=>"place-at", :hide=>"place-id"} %>
    </div>
  </div>

  <div id= "place-at" class="control-group hidden-place">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :address, :class => 'text_area',:rows=>5 %></br>
      <%= link_to " O especifique un establecimiento", "", :class=> "toggle-place", :data=>{:display=>"place-id", :hide=>"place-at"} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :flayer, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :flayer, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'short-text-area',:rows=>5 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
