<div  data-role="header" >
  <div class="place-header-icon" style ="display:inline-block">
    <%=image_tag @place.cover_image.thumb.url, :class=>"header-img-left"%>
  </div>
  <div class="place-header-title" style ="display:inline-block; vertical-align: top;">
    <p style="text-align:center;padding:2px;font-size:15pt"><%=@place.name%></p>
  </div>
</div><!-- /header -->  

<div data-role="content" class="info-page-content">        
  <div>
    <p><strong><%=@place.address%></strong><br/></p>
  </div>          
  
  <div>
    <p><strong>Acerca de <%=@place.name%></strong><br/><%=@place.description%></p> 
  </div>    
  
  <div>
    <ul data-role="listview" data-inset="true">
  		<%unless @place.phone.blank?%>
  		  <li data-theme="a">
          <a href="tel:<%=@place.phone%>" data-ajax="false">
            <img src="/images/icons/phone.png" alt="France" class="ui-li-icon">
            <%=@place.phone%>
          </a>
        </li>
  		<%end%>
  		<%unless @place.web_page.blank?%>
  		  <li data-theme="a">
          <a href="http://<%=@place.web_page%>" data-ajax="false" target="_blank">
            <img src="/images/icons/globe.png" alt="France" class="ui-li-icon">
            <%=@place.web_page%>
          </a>
        </li>
  		<%end%>
      <%unless @place.fanpage.blank?%>
        <li data-theme="a">
          <a href="https://www.facebook.com/<%=@place.fanpage%>" data-ajax="false" target="_blank">
            <img src="/images/icons/facebook.png" alt="France" class="ui-li-icon">
            <%=@place.fanpage%>
          </a>
        </li>
      <%end%>
  		<%unless @place.twitter_account.blank?%>
  		  <li data-theme="a">
          <a href="<%=@place.twitter_full_url%>" data-ajax="false" target="_blank">
            <img src="/images/icons/twitterbird.png" alt="France" class="ui-li-icon">
            <%="@#{@place.twitter_account}"%>
          </a>
        </li>
  		<%end%>
  	</ul></br>
  </div>
  <img src="http://maps.google.com/maps/api/staticmap?zoom=<%=@place.zoom%>&amp;size=250x200&amp;maptype=roadmap&amp;markers=color:red|label:|<%=@place.map_latlng%>&amp;sensor=false" class="map">
</div>