<div data-role = "content">
	<div class="ui-grid-c">
		<%@galleries_groups.each do |group|%>
			<%for i in 0..3%>
				<%case i%>
					<%when 0%>
						<%if group[i]%>
							<div class="ui-block-a gallery-cell">
								<%=link_to mobile_app_gallery_path(:id=>group[i].id) do%>
									<div class = "cover">
										<%=image_tag group[i].cover_photo.picture_file.url, :style=>"height:auto; width:100%;"%>
									</div>
									<div class = "title">
										<h3><%=group[i].name%></h3>
									</div>
								<%end%>
							</div>
						<%end%>
					<%when 1%>
						<%if group[i]%>
							<div class="ui-block-a gallery-cell">
								<%=link_to mobile_app_gallery_path(:id=>group[i].id) do%>
									<div class = "cover">
										<%=image_tag group[i].cover_photo.picture_file.url, :style=>"height:auto; width:100%;"%>
									</div>
									<div class = "title">
										<h3><%=group[i].name%></h3>
									</div>
								<%end%>
							</div>
						<%end%>
					<%when 2%>
						<%if group[i]%>
							<div class="ui-block-a gallery-cell">
								<%=link_to mobile_app_gallery_path(:id=>group[i].id) do%>
									<div class = "cover">
										<%=image_tag group[i].cover_photo.picture_file.url, :style=>"height:auto; width:100%;"%>
									</div>
									<div class = "title">
										<h3><%=group[i].name%></h3>
									</div>
								<%end%>
							</div>
						<%end%>
					<%when 3%>
						<%if group[i]%>
							<div class="ui-block-a gallery-cell">
								<%=link_to mobile_app_gallery_path(:id=>group[i].id) do%>
									<div class = "cover">
										<%=image_tag group[i].cover_photo.picture_file.url, :style=>"height:auto; width:100%;"%>
									</div>
									<div class = "title">
										<h3><%=group[i].name%></h3>
									</div>
								<%end%>
							</div>
						<%end%>
				<%end%>
				
			<%end%>
		<%end%>
	</div>
</div>
