<style type="text/css">
  #map {
    margin: 0;
    padding: 0;
    border:solid 4px #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;width:370px;height:250px;margin-bottom:20px
  }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "/js-libraries/gmaps.js"%>
<script>
  var map;
  var marker;
  function initialize(){
    console.log("inicializando mapa....")
    map = new GMaps({
            div: '#map',
            zoom: <%=@place.map_zoom || 15%>,
            lat: <%=@place.lat || "13.67527"%>,
            lng: <%=@place.lng || "-89.28572"%>,
            zoom_changed: function(e){
              $('#place_map_zoom').val(this.getZoom());
              latlng=map.getCenter().$a+","+map.getCenter().ab
              console.log(latlng),
              $('#place_map_latlng').val(latlng);
            },
            center_changed: function(e){
              $('#place_map_latlng').val(this.getCenter());
            },
            dragend: function(e){
              if(marker !=null){
                marker.setPosition(map.getCenter())
                $('#place_map_latlng').val(this.getCenter());
              }
            }
          });

  }
  function codeAddress(){
    GMaps.geocode({
      address: $('#address').val(),
      callback: function(results, status) {
        if (status == 'OK') {
            var latlng = results[0].geometry.location;
            map.setCenter(latlng.lat(), latlng.lng());
            marker =  map.addMarker({
                        lat: latlng.lat(),
                        lng: latlng.lng()
                      });
        }
      }
    });
    false;
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<%- action = new_or_edit ? admin_places_path : admin_place_path(:id=>@place.id) %>
<%= form_for @place, :url=>action,:html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :place_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :place_type_id, PlaceType.all ,:id,:name, :prompt =>"Seleccione el tipo de establecimiento", :class=>"select_field"%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field', :id=>"address" %>
      <%=link_to "Pin on Map","#map",:class=>"btn btn-primary", :onclick=>"codeAddress();"%>
    </div>
      <div style="float:left;margin-left:108px;margin-top:15px;">
        <div id="map"></div>
        <div><%=f.hidden_field :map_zoom%> <%=f.hidden_field :map_latlng%></div>
        <div class="well" style="width:335px">Drag the pin to adjust its position. Set the zoom level you want the map to start at when displayed to the users.</div>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :web_page, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :web_page, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :twitter_account, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitter_account, :class => 'text_field' %>
    </div>
  </div>
  <%unless new_or_edit%>
    <div class="control-group">
      <%= f.label :state, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :state, :class => 'check_box' %>
      </div>
    </div>
  <%end%>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_places_path, :class => 'btn' %>
  </div>
<% end %>
