<%- action = new_or_edit ? admin_place_types_path : admin_place_type_path(:id=>@place_type.id) %>
<%= form_for @place_type,:url=>action ,:html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :label_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :label_name, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_place_types_path, :class => 'btn' %>
  </div>
<% end %>
