<div data-role= "content">
	<h1 style = "color:#DADADA;">Bienvenido</h1>
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<%=link_to mobile_app_events_path, :class=>"menu-link" do %>
				<center>
				<%=image_tag "/images/icons/calendar.png", :class=>"menu-icon" %>
					<h3>Agenda Cultural</h3>
				</center>
			<%end%>
		</div>
		<div class="ui-block-b">
			<%=link_to mobile_app_place_types_path, :class=>"menu-link" do %>
				<center>
					<%=image_tag "/images/icons/places.png", :class=>"menu-icon" %>
					<h3>Escondites</h3>
				</center>
			<%end%>
		</div>
		<div class="ui-block-a">
	    	<a href="#map-page" class = "menu-link">
				<center>
					<%=image_tag "/images/icons/map.png", :class=>"menu-icon" %>
					<h3>Mapa</h3>
				</center>
			</a>
		</div>
		<div class="ui-block-b">
			<%=link_to mobile_app_galleries_path, :class=>"menu-link" do%>
				<center>
					<%=image_tag "/images/icons/gallery.png", :class=>"menu-icon" %>
					<h3>Galeria</h3>
				</center>
			<%end%>
		</div>	   
	</div>
	
 </div>